<p-button (click)="showDialog()" severity="info" label="note" />
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50%' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap"> {{ discipline }} </span>
    </div>
  </ng-template>

  <div class="input_note grid2">
    <div class="">
      <label for="moyenne_classe" class="font-semibold w-24"
        >Moyenne de Classe</label
      ><br /><br />
      <input
        pInputText
        id="moyenne_classe"
        [(ngModel)]="moyenneClasse"
        class="flex-auto"
        autocomplete="off"
        placeholder="Entrez la moyenne de classe"
      />
    </div>
    <div class="">
      <label for="moyenne_composition" class="font-semibold w-24"
        >Moyenne de Composition</label
      ><br /><br />
      <input
        pInputText
        id="moyenne_composition"
        [(ngModel)]="moyenneComposition"
        class="flex-auto"
        autocomplete="off"
        placeholder="Entrez la moyenne de composition"
      />
    </div>
    <div class="">
      <label for="moy_de_devoir" class="font-semibold w-24">Devoir</label
      ><br /><br />
      <input
        pInputText
        id="moy_de_devoir"
        [(ngModel)]="moy_de_devoir"
        class="flex-auto"
        autocomplete="off"
        placeholder="Entrez la note de devoir"
      />
    </div>
  </div>
  <br />

  <ng-template #footer>
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (click)="visible = false"
    />
    <p-button
      label="Save"
      [outlined]="true"
      severity="secondary"
      (click)="saveNote()"
    />
  </ng-template>
</p-dialog>
