<a (click)="showDialog()" class="p-button font-bold" link="true">
  <div class="stat_card flexs flexs_space gap">
    <div class="">
      <h3 class="stat_count"></h3>
      <p>Ajouter un Enseignants</p>
    </div>

    <div class="icon_header_home">
      <i class="pi pi-users"></i>
    </div>
  </div>
</a>

<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '80%' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Créer un élève</span>
    </div>
  </ng-template>

  <h2>Ajouter un Enseignant</h2>

  <form class="grid2" [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="first_name">Prénom</label>
      <input
        id="first_name"
        formControlName="first_name"
        type="text"
        required
      />
    </div>

    <div class="form-group">
      <label for="last_name">Nom</label>
      <input id="last_name" formControlName="last_name" type="text" required />
    </div>

    <div class="form-group">
      <label for="phone">Téléphone</label>
      <input id="phone" formControlName="phone" type="text" required />
    </div>

    <div></div>

    <button type="submit" [disabled]="teacherForm.invalid">Ajouter</button>
  </form>

  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</p-dialog>
