<div>
  <div class="detail_user">
    <div class="card_user flexs-s flexs_space gap">
      <div class="detail_user_p1 flexs gap">
        <div class="detail_user_image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYLZotUNVXg3YmkYJBmBcGixIclY3tJs6BfQ&s"
            alt="Photo de "
          />
        </div>
        <div class="detail_user_info">
          <p>Nom & Prenom : adef <strong> oba</strong></p>
          <p>Age : 12 ans | Classe : 6 eme</p>
          <p>Matricul : kkkkh12</p>
          <p>Numéro : 069401589</p>
        </div>
      </div>
      <div class="detail_user_p2 flexs-s gap">
        <!-- <p-button label="message" severity="info"></p-button> -->
        <p-button label="Renvoie" severity="danger"></p-button>
        <app-post-message />
      </div>
    </div>
  </div>
  <app-detail-notes t="1"></app-detail-notes>

  <app-detail-notes t="2"></app-detail-notes>

  <app-detail-notes t="3"></app-detail-notes>
</div>
