<!-- <p-button (click)="showDialog()" severity="info" label="note" /> -->

<a (click)="showDialog()" class="p-button font-bold" link="true">
  <div class="stat_card flexs flexs_space gap">
    <div class="">
      <h3 class="stat_count"></h3>
      <p>Ajouter un élève</p>
    </div>

    <div class="icon_header_home">
      <i class="pi pi-users"></i>
    </div>
  </div>
</a>

<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '80%' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Créer un élève</span>
    </div>
  </ng-template>

  <p-steps [(activeIndex)]="activeStep" [model]="steps" class="mb-4"></p-steps>

  <div *ngIf="activeStep === 0" class="">
    <div class="input_note grid2">
      <div>
        <label for="nom" class="font-semibold">Nom</label><br />
        <input pInputText id="nom" class="w-full" autocomplete="off" />
      </div>
      <div>
        <label for="prenom" class="font-semibold">Prénom</label><br />
        <input pInputText id="prenom" class="w-full" autocomplete="off" />
      </div>
    </div>

    <div class="input_note grid2">
      <div>
        <label for="photo" class="photo font-semibold">Photo</label><br />
        <input type="file" id="photo" class="w-full" />
      </div>
      <div>
        <label for="adresse_actuelle" class="font-semibold"
          >Adresse actuelle</label
        ><br />
        <input
          pInputText
          id="adresse_actuelle"
          class="w-full"
          autocomplete="off"
        />
      </div>
    </div>
  </div>

  <div *ngIf="activeStep === 1" class="">
    <div class="input_note grid2">
      <div>
        <label for="date_naissance" class="font-semibold"
          >Date de naissance</label
        ><br />
        <input type="date" id="date_naissance" class="w-full" />
      </div>
      <div>
        <label for="lieu_naissance" class="font-semibold"
          >Lieu de naissance</label
        ><br />
        <input
          pInputText
          id="lieu_naissance"
          class="w-full"
          autocomplete="off"
        />
      </div>
    </div>

    <div class="input_note grid2">
      <div>
        <label for="genre" class="font-semibold">Genre</label><br />
        <select id="genre" class="w-full">
          <option value="">-- Sélectionnez --</option>
          <option value="Masculin">Masculin</option>
          <option value="Féminin">Féminin</option>
        </select>
      </div>
      <div>
        <label for="telephone" class="font-semibold">N° de téléphone</label
        ><br />
        <input pInputText id="telephone" class="w-full" autocomplete="off" />
      </div>
    </div>

    <div class="input_note grid2">
      <div>
        <label for="email" class="font-semibold">Adresse e-mail</label><br />
        <input type="email" id="email" class="w-full" autocomplete="off" />
      </div>
      <div>
        <label for="classe" class="font-semibold">Classe</label><br />
        <input pInputText id="classe" class="w-full" autocomplete="off" />
      </div>
    </div>
  </div>

  <div *ngIf="activeStep === 2" class="">
    <div class="input_note grid2">
      <div>
        <label for="nom_pere" class="font-semibold">Nom et prénom du père</label
        ><br />
        <input pInputText id="nom_pere" class="w-full" autocomplete="off" />
      </div>
      <div>
        <label for="tel_pere" class="font-semibold">Téléphone du père</label
        ><br />
        <input pInputText id="tel_pere" class="w-full" autocomplete="off" />
      </div>
    </div>

    <div class="input_note grid2">
      <div>
        <label for="nom_mere" class="font-semibold"
          >Nom et prénom de la mère</label
        ><br />
        <input pInputText id="nom_mere" class="w-full" autocomplete="off" />
      </div>
      <div>
        <label for="tel_mere" class="font-semibold">Téléphone de la mère</label
        ><br />
        <input pInputText id="tel_mere" class="w-full" autocomplete="off" />
      </div>
    </div>
  </div>

  <ng-template #footer>
    <p-button
      label="Précédent"
      [disabled]="activeStep === 0"
      (click)="activeStep = activeStep - 1"
      severity="secondary"
    />
    <p-button
      label="Suivant"
      [disabled]="activeStep === 2"
      (click)="activeStep = activeStep + 1"
      severity="primary"
    />
    <p-button
      label="Enregistrer"
      [outlined]="true"
      severity="success"
      *ngIf="activeStep === 2"
      (click)="saveEleve()"
    />
  </ng-template>
</p-dialog>
