<div class="">
  <h3 class="col_1">Enseignants</h3>
  <br />
  <div class="header_home flexs flexs_space flexs_wap gap">
    <app-post-admin />
    <!-- <a routerLink="/" class="p-button font-bold" link="true">
      <div class="stat_card color_b flexs flexs_space gap">
        <div class="">
          <h3 class="stat_count"></h3>
          <p>Payer un Enseignants</p>
        </div>

        <div class="icon_header_home">
          <i class="pi pi-sparkles"></i>
        </div>
      </div>
    </a> -->
  </div>
  <br />
  <div class="card_dm">
    <p-table
      [value]="prof"
      [paginator]="true"
      [rows]="5"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nom Prenom</th>
          <th>Numéro</th>
          <th>Plus</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-eleve>
        <tr>
          <td>{{ eleve.first_name }} {{ eleve.last_name }}</td>
          <td>{{ eleve.phone }}</td>
          <td>
            <p-button
              routerLink="../prof/{{ eleve.teacher_id }}"
              label="Detail"
              severity="info"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
