@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-1: #001c4a;
  --color-1-2: #41cde6;
  --color-2: #ff7350;
  --color-3: #1a1e29;
  --color-4: #6a6e79;
  --color-5: #ffffff;
  --white: #fff;
  --background: #d5dbe2;

  --text-color: #333;
  --blue-500: #007bff;
  --yellow-500: #ffc107;
  --green-500: #28a745;
  --blue-400: #339af0;
  --yellow-400: #ffd966;
  --green-400: #5ec878;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: rgb(1, 31, 77);
}

a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3 {
  margin: 0;
}
.gap {
  gap: 10px;
}

.flexs {
  display: flex !important;
  align-items: center;
}

.flexs-s {
  display: flex !important;
}

.flexs_space {
  justify-content: space-between;
}

.flexs_center {
  justify-content: center;
}

.flexs_wap {
  flex-wrap: wrap;
}

.flexs_column {
  flex-direction: column;
}

.bloc_page {
  max-width: 400px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.col_w {
  color: #fff;
}

.col_1 {
  color: var(--color-1);
}
.b_c_2 {
  .p-ripple {
    background: var(--color-2) !important;
    color: var(--color-5) !important;
  }
}

.b_red {
  .p-ripple {
    background: red !important;
    color: var(--color-5) !important;
  }
}
.sidenav {
  height: 98%;
  width: 250px;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  // background-color: var(--color-1);
  background: linear-gradient(
    318deg,
    rgba(5, 69, 146, 1) 0%,
    rgba(4, 19, 42, 1) 100%
  );
  overflow-x: hidden;

  top: 50%;
  left: 132px;
  transform: translate(-50%, -50%);
}

.sidenav {
  p-button {
    padding: 6px;
    text-decoration: none;
    font-size: 18px;
    color: var(--color-5);
    display: block;
    white-space: nowrap;
    .p-ripple {
      display: flex;
      width: 100%;
      overflow: hidden;
      position: relative;
      background: none;
      border: none;
      border-radius: 5px;
      transition: 1000ms;
      justify-content: flex-start;
    }
    .p-ripple:hover {
      background: var(--color-1-2);
      /* margin: 0px 0px 0px 25px; */
      color: var(--color-5);
      border-radius: 5px;
      transition: 100ms;
      border: none;
      font-size: 20px;
      white-space: nowrap;
    }
    .p-button-label {
      flex: 0;
    }
  }
  .p-button {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: var(--color-5) !important;
    display: block;
    white-space: nowrap;
  }

  .active {
    .p-ripple {
      background: var(--color-1-2);
      /* margin: 0px 0px 0px 25px; */
      color: var(--color-5);
      font-size: 20px;
      border-radius: 5px;
      transition: 100ms;
      border: none;
      white-space: nowrap;
    }
  }
}
.btn {
  p-button {
    font-size: 20px;
    color: var(--color-5);
    display: block;
    .p-ripple {
      overflow: hidden;
      position: relative;
      border: none;
      border-radius: 5px;
      background: linear-gradient(213deg, #111f2c 0%, #003738 63%);
    }
  }
}
.logo {
  color: #fff;
  margin-top: 10px !important;
  margin: auto;
  width: 88%;
  p {
    font-size: 12px;
    margin: 0;
    color: var(--color-2);
  }
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.main {
  margin-left: 250px;
  font-size: 28px;
  padding: 0px 10px;
}

.centent {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 30px;
  width: 96%;
  margin: auto;
}

.topnav {
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: var(--color-3);
  border-bottom: 1px solid #fff;
  color: #fff;

  .img_admin {
    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }
}

.header_home {
  a {
    background: none;
    border: none;
    padding: 0;
  }

  .p-button:not(:disabled):hover {
    background: none;
    border: none;
    color: var(--p-button-primary-hover-color);
  }

  .stat_card {
    display: block;
    align-items: center;
    min-height: 128px;
    // width: 200px;
    background: var(--color-1);
    border-radius: 10px;
    padding: 30px 25px;
    color: var(--color-5);
    p {
      font-size: 23px;
      margin: 0;
    }
  }

  .icon_header_home {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: var(--color-2);
    position: relative;
    i {
      font-size: 30px;
      position: absolute;
      color: var(--color-1);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .color_b {
    background: var(--color-2) !important;
    color: var(--color-1);
    .icon_header_home {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      background: var(--color-1);
      position: relative;
      i {
        font-size: 30px;
        position: absolute;
        color: var(--color-2);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.chart {
  background: var(--background);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

.card_table {
  padding: 20px;
  border-radius: 10px;
  background: var(--color-1);

  ::ng-deep p-table {
    border-radius: 10px;
    overflow: hidden;
    background: var(--color-2);
  }
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}

.table_home {
  width: 70%;
}

.all_class {
  a {
    text-decoration: none;
    color: rgb(1, 31, 77);
  }
  .cart_class {
    border-radius: 10px;
    height: 120px;
    background: #fff;
    border-bottom: 4px solid var(--color-1-2);
    padding: 30px;
  }
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 20px;
  }
  .cart_color {
    width: 50px;
    height: 50px;
    background: var(--color-1-2);
    border-radius: 10px;
  }
}

.titre_page {
  margin: 15px 0px;
  padding: 2px 8px;
  border-left: 5px solid var(--color-1-2);
  background: var(--color-1);
  border-radius: 10px;
  h3 {
    padding: 10px;
    color: var(--color-5);
  }
}

.p-datatable-thead > tr > th {
  // background: #323D4E !important;
  font-size: 18px !important;
}

.p-datatable-tbody > tr {
  // background: var(--color-4) !important;
  font-size: 18px !important;
  color: var(--white);
  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
}

.p-paginator {
  font-size: 16px !important;
}

.detail_users {
  width: 100%;
  .p-tabpanels {
    background: none !important;
    color: var(--p-tabs-tabpanel-color);
    padding: var(--p-tabs-tabpanel-padding);
    outline: 0 none;
  }

  .p-tablist-tab-list {
    position: relative;
    display: flex;
    background: var(--p-tabs-tablist-background);
    border-style: solid;
    border-color: var(--p-tabs-tablist-border-color);
    border-width: var(--p-tabs-tablist-border-width);
  }
}

.detail_user {
  font-size: 15px;
  // width: 30%;

  .card_user {
    min-height: 130px;
    padding: 20px;
    background: linear-gradient(
      318deg,
      rgba(4, 19, 42, 1) 0%,
      rgba(5, 69, 146, 1) 100%
    );
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .detail_user_image {
    width: 160px;
    margin: auto;
    img {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      border: 4px solid var(--white);
      object-fit: cover;
      margin: auto;
    }
  }

  .detail_user_info {
    p {
      font-size: 17px;
      color: var(--color-5);
      font-weight: 450;
      margin: 10px 0;
    }
  }
}

.p2 {
  // width: 65%;
}

.p1 {
  // width: 30%;
}
.input_note {
  // width: 100%;
  // // background: red;
  // .p-inputtext {
  //   width: 100% !important;
  //   //   min-width: 300px;
  // }
  // .pTextarea {
  //   width: 100%;
  // }
  // .pInputText {
  //   width: 100%;
  // }
  .p-inputtext,
  input[type="text"],
  input[type="file"],
  select,
  input[type="date"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .photo {
    word-break: break-all;
    margin-top: 10px;
    &.file-selected {
      .file-label {
        border: 2px solid #4caf50;
        position: relative;
      }

      .check-icon {
        color: #4caf50;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

label {
  font-size: 20px;
}

.login {
  width: 100%;
  height: 100vh;
  background: url("/f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  .carte_login {
    padding: 30px;
    position: absolute;
    top: 50%;
    right: -200px;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 85vh;
    background: rgb(255 255 255 / 83%);
    border-radius: 10px;
    border: 2px solid #d60000;
  }
  .carte_login_img {
    // width: 60%;
    // margin: auto;
    img {
      width: 60px;
    }
  }
  .carte_login_text {
    p {
      font-size: 15px;
      // font-weight: bolder;
    }
  }
  .carte_login_input {
    .p-inputtext {
      width: 100%;
      color: #000;
      background: #fff;
    }
    .p-inputtext:enabled:hover {
      border: none;
    }
    .p-inputtext:enabled:focus {
      border: none;
      box-shadow: none;
      outline: var(--p-inputtext-focus-ring-width)
        var(--p-inputtext-focus-ring-style) var(--p-inputtext-focus-ring-color);
      outline-offset: var(--p-inputtext-focus-ring-offset);
    }
  }
}
.btnn {
  .p-button {
    background: var(--color-1) !important;
    border: 1px solid var(--color-1) !important;
    color: var(--white) !important;
  }
}

.p-tab-active {
  font-size: 20px;
  background: var(--p-tabs-tab-active-background);
  border-color: var(--p-tabs-tab-active-border-color);
  color: var(--p-tabs-tab-active-color);
}
.p-tab {
  font-size: 15px;
  padding: 5px;
}

.student-form {
  // max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  // background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group .p-select {
  width: 100%;
  padding: 0px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group input:focus {
  border-color: #5e9ed6;
  outline: none;
}

button[type="submit"] {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #5e9ed6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #4a8bbd;
}

button[type="submit"]:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}
