<div class="header_home grid">
  <div class="stat_card flexs flexs_space">
    <div class="">
      <h3 class="stat_count">362</h3>
      <p>éleve</p>
    </div>

    <div class="icon_header_home">
      <i class="pi pi-users"></i>
    </div>
  </div>

  <div class="stat_card flexs flexs_space">
    <div class="">
      <h3 class="stat_count">41</h3>
      <p>Enseignants</p>
    </div>

    <div class="icon_header_home">
      <i class="pi pi-briefcase"></i>
    </div>
  </div>

  <div class="stat_card color_b flexs flexs_space">
    <div class="">
      <h3 class="stat_count">2.254.000</h3>
      <p>Entrées</p>
    </div>

    <div class="icon_header_home">
      <i class="pi pi-sparkles"></i>
    </div>
  </div>
</div>
<br />
<div class="card_table">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Admie</p-tab>
      <p-tab value="1">Echoué</p-tab>
      <p-tab value="2">tout</p-tab>
    </p-tablist>
    <hr />
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-chart-a />
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-chart-e />
      </p-tabpanel>
      <p-tabpanel value="2">
        <app-chart />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
