<div class="detail_user">
  <div class="card_user">
    <h2 class="col_w">{{ t }}</h2>
    <br />
    <p-table
      [value]="nots"
      [paginator]="true"
      [rows]="10"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Discipline</th>
          <th>Moy de classe</th>
          <th>Moy de composition</th>
          <th>Moy /20</th>
          <th>Coef</th>
          <th>Moy General</th>
          <th>Appreciation</th>
          <th>Modifie</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.subject_name }}</td>
          <td>{{ item.homework }}</td>
          <td>{{ item.workontable }}</td>
          <td>{{ item.exam }}</td>
          <td>{{ item.coefficient }}</td>
          <td>{{ item.moy_g }}</td>
          <td>{{ item.appreciation }}</td>
          <td>
            <app-post-note
              [discipline]="item.subject_name"
              [id]="item.id_note"
              [homework]="item.homework"
              [workontable]="item.workontable"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
