<div class="titre_page">
  <h3>Selection du trimestre</h3>
</div>

<div class="all_class grid">
  <app-select-m />

  <a routerLink="../notes">
    <div class="cart_class flexs flexs_space">
      <div class="">
        <h3>Trimestre 2</h3>
        <p></p>
      </div>
      <div class="cart_color"></div>
    </div>
  </a>

  <a routerLink="../notes">
    <div class="cart_class flexs flexs_space">
      <div class="">
        <h3>Trimestre 3</h3>
        <p></p>
      </div>
      <div class="cart_color"></div>
    </div>
  </a>
</div>
